@{
    ViewBag.Title = "Currency Converter";
}
@model Dictionary<string, string>

<div style="margin:10px 0" class="row">
    <div class="p-3">
        <h2>Currency Converter</h2>
    </div>

    <alert class="alert alert-info col-12">Choose the currencies you wish to convert and the amount you wish to convert</alert>
</div>

<div class="row">
    <div class="col-6">
        <label class="col-form-label">Currency</label>
        @Html.DropDownList("currencyCode1",new SelectList(Model, "Key", "Value"),new {@class="form-control"})
    </div>
    <div class="col-6">
        <label class="col-form-label">Amount</label>
        <input type="number" step="0.1" class="form-control inputCurrencyAmount" value="" id="currencyAmount1"/>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label class="col-form-label">Currency</label>
        @Html.DropDownList("currencyCode2", new SelectList(Model, "Key", "Value"), new { @class = "form-control" })
    </div>
    <div class="col-6">
        <label class="col-form-label">Amount to calculate</label>
        <input type="number" step="0.1" class="form-control inputCurrencyAmount" id="currencyAmount2"/>
    </div>
</div>
<div class="row">
    <div class="col-12" style="margin-top:10px">
        <button class="col-12 btn btn-primary" id="btnSubmit">Calculate</button>
    </div>
   
</div>
@section scripts
{
    <script type="text/javascript">
        //initial setup of currencyCodes
        $('#currencyAmount1').val(1.00);
        $('#currencyCode1').val('USD');
        $('#currencyCode2').val('GBP');
        var currencyAmountCalculated = GetCurrencyAmount2('USD', 'GBP', 1.00);

        currencyAmountCalculated.done(function(data) {
            $('#currencyAmount2').val(data.currencyAmount2);
        }).fail(function(xhr) {
            alert("An error occurred: " + xhr.responseText);
        });

        $('#btnSubmit').on('click',
            function() {
                const currencyCode1 = $('#currencyCode1').val();
                const currencyCode2 = $('#currencyCode2').val();
                const currencyAmount1 = $('#currencyAmount1').val();
                currencyAmountCalculated = GetCurrencyAmount2(currencyCode1, currencyCode2, currencyAmount1);
                currencyAmountCalculated.done(function(data) {
                    $('#currencyAmount2').val(data.currencyAmount2.toFixed(2));
                }).fail(function(xhr) {
                    alert("An error occurred: " + xhr.responseText);
                });
            })

        function GetCurrencyAmount2(currencyCode1, currencyCode2, currencyAmount1) {
            return $.ajax({
                url: '@Url.Action("GetCurrencyConversion")',
                type: "GET",
                dataType: "json",
                data: {
                    currencyCode1: currencyCode1,
                    currencyCode2: currencyCode2,
                    currencyAmount1: currencyAmount1
                }

            });
        }
    </script>
}
